singularity {
  enabled             = true
}

params {
  project             = null
  email               = null
  outdir              = 'analysis'
  
  publish_dir_mode    = 'copy'

  reference_genome    = 'mouse'

  // files for analysis
  quant_path         = null
  tx2gene             = null
  metadata            = null

  // variables for the experimental design
  generation          = null
  treatment           = null
}

profiles {
  local {
    process {
      executor        = 'local'
    }
  }
  uppmax {
    process {
      memory          = 8.GB
      time            = 8.h
      executor        = 'slurm'
      clusterOptions  = "-A ${params.project}"
      scratch         = true
    }
  }
}

includeConfig         'conf/modules/ensembl.config'
includeConfig         'conf/modules/edgeR.config'

report {
  enabled             = true
  file                = "${params.outdir}/pipeline_reports/nf_report.html"
  overwrite           = true
}

trace {
  enabled             = true
  file                = "${params.outdir}/pipeline_reports/nf_trace.txt"
  overwrite           = true
}

manifest {
  name                = "Transcriptome analysis"
  description         = "..."
  author              = "Andrey"
  homePage            = "https://github.com/andreyhgl"
  doi                 = "paper..."
  version             = "1.0"
  mainScript          = "main.nf"
}