params {
  project = null
  email = null
  outdir = 'analysis'
  publish_dir_mode = 'copy'

  // R-package for differential analysis
  diff_analysis_package = 'DESeq2'

  // reference genome attributes
  species = 'mouse'
  ensembl_version = '115'

  // files for analysis
  quant_files = null
  tx2gene = null
  sample_info = false
  seqfiles_metadata = false
  samples_to_remove = false
  extra_genes_file = false

  // Quarto report variables
  quarto_report_file = "${projectDir}/quarto_notebook_report.qmd"
  quarto_assets = "${projectDir}/assets/"
  quarto_meta = "${projectDir}/_quarto.yml"
  quarto_css = "${projectDir}/assets/styles.css"
}

singularity {
  enabled = true
}

profiles {
  local {
    process {
      executor = 'local'
    }
  }
  uppmax {
    process {
      memory = 8.GB
      time = 8.h
      executor = 'slurm'
      clusterOptions = "-A ${params.project}"
      scratch = true
    }
  }
}

includeConfig 'conf/base.config'

report {
  enabled = true
  file = "${params.outdir}/pipeline_reports/nf_report.html"
  overwrite = true
}

dag {
  enable = true
  file = "${params.outdir}/pipeline_reports/flowchart.png"
  overwrite = true
}

trace {
  enabled = true
  file = "${params.outdir}/pipeline_reports/nf_trace.txt"
  overwrite = true
}

manifest {
  name = "Transcriptome analysis"
  description = "..."
  author = "Andrey"
  homePage = "https://github.com/andreyhgl"
  doi = "paper..."
  version = "1.0"
  mainScript = "main.nf"
}
