process {
  withName: QC_PLOTS {
    publishDir = [
      path:     { "${params.outdir}/supplementary" },
      mode:     params.publish_dir_mode,
      pattern:  'QC_plots.pdf'
    ]
  }

  withName: DIFF_EXPRESSION {
    publishDir = [
      // expects DGE_table.csv
      path:     { "${params.outdir}/data" },
      mode:     params.publish_dir_mode,
      pattern:  'DGE_table.csv'
    ]
  }
}