process {
  withName: ENSEMBL {
    publishDir = [
      path: { "${params.outdir}/data" },
      mode: params.publish_dir_mode,
      pattern: 'ensembl_table.csv.gz',
    ]
  }

  withName: METADATA {
    publishDir = [
      path: { "${params.outdir}/data" },
      mode: params.publish_dir_mode,
      pattern: 'metadata.csv',
    ]
  }

  withName:DESEQ2_DESEQ {
    publishDir = [
      path: { "${params.outdir}/data" },
      mode: params.publish_dir_mode,
      pattern: 'DDS.Rds',
    ]
  }

  withName:DESEQ2_QC_PLOTS {
    publishDir = [
      path: { "${params.outdir}/supplementary" },
      mode: params.publish_dir_mode,
      pattern: 'QC_plots.pdf',
    ]
  }

  withName: DESEQ2_RESULTS {
    publishDir = [
      [
        path: { "${params.outdir}/data" },
        mode: params.publish_dir_mode,
        pattern: 'genexp_table.csv.gz'
      ],
      [
        path: { "${params.outdir}/supplementary" },
        mode: params.publish_dir_mode,
        pattern: 'significant_genes_S1.xlsx'
      ]
    ]
  }

  withName: DESEQ2_DGE_PLOTS {
    publishDir = [
      path: { "${params.outdir}/supplementary" },
      mode: params.publish_dir_mode,
      pattern: 'DGE_plots.pdf',
    ]
  }

  withName: PATHWAY_ENRICHMENT {
    publishDir = [
      [
        path: { "${params.outdir}/data" },
        mode: params.publish_dir_mode,
        pattern: 'pathway_enrichment.Rds',
      ],
      [
        path: { "${params.outdir}/supplementary" },
        mode: params.publish_dir_mode,
        pattern: 'pathway_enrichment_S2.xlsx',
      ]
    ]
  }

  withName: QUARTO_NOTEBOOK {
    publishDir = [
      path: { "${params.outdir}/reports" },
      mode: params.publish_dir_mode,
      pattern: '*.html',
    ]
  }


  withLabel:process_single {
    cpus   = { 1                      }
    memory = { 20.GB * task.attempt   }
    time   = { 1.h  * task.attempt    }
  }
  withLabel:process_medium {
    cpus   = { 4                      }
    memory = { 100.GB * task.attempt  }
    time   = { 4.h    * task.attempt  }
  }
  withLabel:process_heavy {
    cpus   = { 10                     }
    memory = { 160.GB * task.attempt  }
    time   = { 2.h    * task.attempt  }
  }
  withLabel:process_high_memory {
    cpus   = { 20                     }
    memory = { 520.GB                 }
    time   = { 4.h                    }
  }
  withLabel:process_parallel {
    cpus   = { 48                     }
    memory = { 608.GB                 }
    time   = { 2.h    * task.attempt  }
  }

}