process {
  withName: EDGER_DGELIST {
    publishDir = [
      // expects DGEList.Rds
      path:     { "${params.outdir}/data" },
      mode:     params.publish_dir_mode,
      pattern:  '*.Rds'
    ]
  }

  withName: EDGER_QC_PLOTS {
    publishDir = [
      path:     { "${params.outdir}/supplementary" },
      mode:     params.publish_dir_mode,
      pattern:  'QC_plots.pdf'
    ]
  }
}